:root {
    --button: hsl(25, 97%, 53%);
    --heading: hsl(0, 0%, 100%);
    --paragraph: hsl(217, 12%, 63%);
    --radioHover: hsl(216, 12%, 54%);
    --radio: hsl(213, 19%, 18%);
    --mainBg: hsl(216, 12%, 8%);
}

@font-face {
    font-family: Overpass;
    src: url("./fonts/Overpass-VariableFont_wght.ttf");
}

*{
    box-sizing: border-box;
}

body{
    background-color: var(--mainBg);
    font-family: Overpass;
    color: white;
}

.hide{
    display: none;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.cardholder {
    background: radial-gradient(at top center,hsla(216, 12%, 24%, 0.468) 5%, hsl(210, 10%, 11%));
    flex-basis: 60%;
    min-width: 400px;
    padding: 4em 5em;
    border-radius: 10px;
}

.star {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.263);
    border-radius: 50%;
}

.heading{
    color: var(--heading);
    font-size: 2.5em;
    font-weight: 700;
}

.info {
    color: var(--paragraph);
    font-size: 1.4em;
}

#thxCard {
    text-align: center;
}

#select {
    width: 40%;
    color: var(--button);
    background-color: rgba(245, 245, 245, 0.235);
    margin: 20px auto;
    padding: 1em 1.2em;
    border-radius: 30px;
}

.radioitem{
    display: inline-block;
}

.radioitem input[type=radio] {
    display: none;
}

.radioitem label {
    display: inline-block;
    background-color: var(--radio);
    opacity: 0.8;
    padding: .9em 1.2em;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    font-size: 1.1rem;
}

label:hover{
    background-color: var(--button);
}

.radioitem input[type=radio]:checked + label {
    background-color: var(--radioHover);
}

.radiobuttons{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

button{
    width: 100%;
    margin: 1.5em auto;
    padding: 1.2em 2em;
    border-radius: 40px;
    background-color: var(--button);
    color: white;
    font-size: 1em;
    border: none;
    text-transform: uppercase;
}

button:hover{
    background-color: white;
    color: var(--button);
    cursor: pointer;
}
